body{
  /* background-image: url("../img/background.jpg"); */
  padding-top: 160px;
  font-family: 'Playfair Display', serif;
  overflow-x: hidden;
  margin: 0;

}

/*/////////////TITRE GALLERIE/////////////*/

.contenu-float-left-text{
  display: flex;
  padding: 100px 0px;
  font-size: 2em;
  color: black;
}

.titre-principal{
  color: #E0E3EC;
}

/*/////////////BACKGROUND IMAGE PORTFOLIO AND SEE MORE/////////////*/

.row-flex{
  display: flex;
}

.image-col-4 {
  background-image: url("../img/deco2.jpg");
  background-size: cover;
  height: 50vh;
  padding: 0px;
  transition: all 0.5s;
  position: relative;
}

.image-col-4:hover{
  box-shadow: 4px 5px 10px 4px  rgba(0,0,0,0.4);
}

.see-more{
  display: flex;
  margin: 0;
  align-items : flex-end;
  font-size: 1.1em;
  transition: all 0.1s;
  cursor: pointer;
}

.see-more:hover{
  font-size: 1.2em;
}

.padding-container{
  padding: 50px;
}
