body{
  /* background-image: url("../img/background.jpg"); */
  background-size: cover;
  padding-top: 200px;
  font-family: 'Playfair Display', serif;
  overflow-x: hidden;
}

.contenu-float-left-text{
  display: flex;
  padding: 100px 0px;
  font-size: 2.3em;
  color: black;
}

.titre-principal{
  color: #E0E3EC;
}

.image-col-4 {
  background-image: url("../img/deco2.jpg");
  background-size: cover;
  height: 50vh;
  padding: 0px;
  transition: all 0.5s;
  position: relative;
}

.image-col-4:hover{
  box-shadow: 4px 5px 10px 4px #333;
}

.see-more{
  display: flex;
  margin: 0;
  top: 250px;
  left: 100px;
  align-items : flex-end;
  padding-bottom: 100px;
  background-color: red;
  height: 100%;
}

.padding-container{
  padding: 50px;
}
